backend/.env
**/.env
backend/.venv/
frontend/.env
frontend/node_modules/
frontend/dist/
__pycache__/
*.pyc
**/node_modules/
**/dist/
.aws-sam/
samconfig.toml
**/.env.*
!**/.env.example
!.env.docker.example
